.bgFireWork {
  width: 100%;
  height: 326px;
  position: relative;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  background-image: url("../../../public/assets/images/fireworks_multi_black.gif");
  background-size: contain;
}
