@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #171717;
  --button-green: #159966;
  --border:   oklch(1 0 0 / 15%);
  --input: oklch(89.922% 0.00654 16.419);
  --ring: oklch(0.708 0 0);
  --body: #2c354b;
}

.dark {
  --background: #111827;
  --foreground: #ededed;
  --button-green: #00ff88;
  --border: oklch(1 0 0 / 10%);
  --input: oklch(76.92% 0.00338 15.809);
  --ring: oklch(0.556 0 0);
  --body: #1b253d;


}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-button-green: var(--button-green);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
   --color-body: var(--body);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
